#works{
    padding: 100px 0;
}
.button__item{
    padding: 20px 30px;
    border: 1px solid var(--blue);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.works__content{
    width: 30%;
}
.works__font{
    color: var(--black);
    font-size: 28px;
    font-weight: var(--medium) ;
    line-height: 39.2px;
    text-transform: capitalize;
    font-family: var(--poppins);
    padding: 24px 0 14px 0;
}